{% extends 'boilerplate.html' %} {% block content %}
<div class="container-md mt-5 justify-content-center">
  <h1 class="mb-5">Kuinka voimme auttaa?</h1>
  <div class="row justify-content-center">
    <div class="col-md-3 m-3 p-3 contact_us_box">
      <i class="fa-regular fa-envelope mb-4"></i>
      <a href="mailto:info@ilmaistatavaraa.fi" target="_blank">
        <h2>Lähetä sähköposti 👇</h2>
        <p>info@ilmaistatavaraa.fi</p></a
      >
    </div>
    <div class="col-md-3 m-3 p-3 contact_us_box">
      <i class="fa-brands fa-instagram mb-4"></i>
      <a href="https://www.instagram.com/ilmaistatavaraa.fi" target="_blank">
        <h2>Seuraa meitä SoMe:ssa! 🫡</h2>
        <p>@ilmaistatavaraa.fi</p>
      </a>
    </div>
  </div>
</div>

{%endblock%}
