{% extends 'boilerplate.html' %} {% block content %}

<div class="container-md col-md-6 text-start mt-5">
  <div class="justify-content-center priv-text-content">
    <h1 class="mt-5 mb-5">Evästeet</h1>

    <p class="mb-5">Päivitetty 02.10.2024</p>

    <h2 class="mb-3 mt-3">
      Evästeiden käyttö Ilmaistatavaraa.fi:n verkkosivuilla
    </h2>

    <p>
      Ilmaistatavaraa.fi:n verkkopalveluissa käytetään evästeitä palveluiden
      kehittämiseen yleisen käyttökokemuksen personoimiseen ja laadun
      parantamiseen. Evästeitä käytetään tämän lisäksi myös markkinoinnin
      kohdentamiseen ja personoimiseen. Ilmaistatavaraa.fi:n sivustoilla
      käytettävät evästeet on jaettu kategorioihin neljään pääkategoriaan
      käyttötarkoituksen mukaan eli, toiminnallisiin, mainonta-, kehitys- ja
      sosiaalisen median evästeisiin.
    </p>

    <p>
      Toiminnalliset evästeet ovat verkkokaupan ja palvelun toiminnalle
      välttämättömät. Evästeet mahdollistavat erilaisia toimintoja kuten
      kielivalintojen teon, ostoskorin päivittämisen ja sisäänkirjautumisen.
    </p>

    <p>
      Mainonnan kohdentamiseksi asetettavat evästeet mahdollistavat mainonnan
      kohdentamisen siten, että markkinointikumppaneidemme sivustoilla näkyvä
      mainonta olisi käyttäjälle mahdollisimman kiinnostavaa.
    </p>

    <p>
      Kehitysevästeiden avulla seurataan, miten sivustoja käytetään ja miten
      paljon eri sivuja luetaan tai kuinka pitkän ajan käyttäjä viettää milläkin
      verkkopalvelun sivulla. Näitä tietoja käytetään palvelun ja sivuston
      kehittämiseen.
    </p>

    <p>
      Sosiaalisen median asettamat evästeet voivat mahdollistaa käyttäjän
      sivujen seurannan, jos käyttäjä on samaan aikaan kirjautuneena kyseisen
      sosiaalisen median palveluun.
    </p>
  </div>
</div>

{%endblock%}
