{% extends 'boilerplate.html' %} {% block content %}
<div class="container-md w-60 py-5 m-3">
  <h2 class="text-center">Mitä haluat lahjoittaa?</h2>
  <p class="text-center">Tämä ei sido sinua mihinkään..</p>
  <div class="form-complete row justify-content-center">
    <form
      action="/submit_donation"
      class="col-md-6"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="mb-4 mt-5">
        <div class="form-labels-dona">Tuotteen tiedot</div>
      </div>

      <!-- Product Section -->
      <div class="product-form">
        <div class="form-group mb-3 text-start">
          <label for="product">Tuote</label>
          <input
            type="text"
            name="product"
            id="product"
            class="form-control mt-2"
            required
          />
        </div>

        <div class="form-group mb-3 text-start">
          <label for="category">Tuotekategoria</label>
          <select
            name="category"
            id="category"
            class="form-select mt-2"
            required
          >
            <option value="" selected disabled></option>
            {% for cat, cat_ids in cats.items() %}
            <option value="{{ cat_ids }}">{{ cat }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group mb-3 text-start">
          <label for="image">Kuva tuotteesta</label>
          <input
            type="file"
            name="image"
            id="image"
            class="form-control mt-2"
          />
        </div>

        <div class="form-group mb-3 text-start">
          <label for="condition">Tuotteen kunto</label>
          <select
            name="condition"
            id="condition"
            class="form-select mt-2"
            required
          >
            <option value="" selected disabled></option>
            <option value="new_unused">Uusi / Käyttämätön</option>
            <option value="great">Erinomainen</option>
            <option value="good">Hyvä</option>
            <option value="decent">Kohtalainen</option>
            <option value="worn_out">Kulunut</option>
          </select>
        </div>

        <div class="form-group mb-3 text-start">
          <label for="age">Tuotteen ikä</label>
          <input
            type="text"
            name="age"
            id="age"
            class="form-control mt-2"
            placeholder="esim: 1-3v..."
            required
          />
        </div>
      </div>
      <div class="form-group text-start mb-3">
        <label class="form-check-label" for="don_item_deets">Lisätietoja</label>
        <textarea
          class="form-control mt-2"
          type="text"
          id="don_item_deets"
          name="don_item_deets"
        ></textarea>
      </div>
      <div class="form-group mb-4">
        <div class="text-start">
          <div class="form-check w-100">
            <input
              class="form-check-input"
              type="checkbox"
              name="animals_yes"
              id="animals_yes"
              value="animals_yes"
            />
            <label class="form-check-label" for="animals_yes"
              >Eläintalous</label
            >
          </div>
        </div>
      </div>
      <!-- User Information Section -->
      <div class="mb-4 mt-5">
        <div class="form-labels-dona">Yhteystietosi</div>
      </div>

      <div class="user-form">
        <div class="form-group mb-3 text-start">
          <label for="email">Sähköposti</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control mt-2"
            required
          />
        </div>

        <div class="row">
          <div class="col-md-6 mb-3 text-start">
            <label for="first-name">Etunimi</label>
            <input
              type="text"
              name="first-name"
              id="first-name"
              class="form-control mt-2"
            />
          </div>

          <div class="col-md-6 mb-3 text-start">
            <label for="surname">Sukunimi</label>
            <input
              type="text"
              name="surname"
              id="surname"
              class="form-control mt-2"
            />
          </div>
        </div>
        <!-- <div class="form-group mb-3 text-start">
          <div id="geocoder" class="geocoder mt-2"></div>
        </div> -->
        <div class="form-group mb-3 text-start">
          <label for="address">Katuosoite</label>
          <div id="geocoder" class="geocoder mt-3"></div>
          <input
            type="text"
            name="address"
            id="address"
            class="form-control mt-3"
            required
          />
        </div>

        <div class="row">
          <div class="col-md-2 mb-3 text-start">
            <label for="postal-code">Postinumero</label>
            <input
              type="text"
              name="postal-code"
              id="postal-code"
              class="form-control mt-2"
              maxlength="5"
              pattern="\d{5}"
              required
            />
          </div>

          <div class="col-md-5 mb-3 text-start">
            <label for="city">Kaupunki</label>
            <input
              type="text"
              name="city"
              id="city"
              class="form-control mt-2"
              required
            />
          </div>

          <div class="col-md-5 mb-3 text-start">
            <label for="city">Maakunta</label>
            <input
              type="text"
              name="region"
              id="region"
              class="form-control mt-2"
              required
            />
          </div>
          <input type="hidden" id="latitude" name="latitude" display="hidden" />
          <input type="hidden" id="longitude" name="longitude" />
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="text-start">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="newsletter"
              id="newsletter"
              value="newsletter"
            />
            <label class="form-check-label" for="newsletter"
              >Lähetä uusimmat ilmoitukset sähköpostiini</label
            >
          </div>
        </div>
      </div>
      <div class="form-group text-center mt-5">
        <p class="accept-cookies-font">
          Lähettämällä ilmoituksen hyväksyn ilmaistatavaraa.fi:n
          <span class="ppolicy_text"
            ><a href="{{ url_for('rules') }}">käyttöehdot</a></span
          >.
        </p>
      </div>
      <button class="btn form-submit-btn" type="submit">Lähetä</button>
    </form>
  </div>
</div>

<script>
  mapboxgl.accessToken = '{{ MAPBOX_TOKEN }}';

  function initializeGeocoder(lat, lng) {
    return new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      types: 'address,postcode,place',
      placeholder: 'Hae osoitetta',
      country: 'FI',
      proximity: { longitude: lng, latitude: lat },
      mapboxgl: mapboxgl,
    });
  }

  function handleGeolocationSuccess(position) {
    let userLatitude = position.coords.latitude;
    let userLongitude = position.coords.longitude;

    let geocoder = initializeGeocoder(userLatitude, userLongitude);
    document.getElementById('geocoder').appendChild(geocoder.onAdd());

    geocoder.on('result', function (e) {
      let streetName = e.result.text || '';
      let houseNumber = e.result.address || '';
      let fullAddress = streetName
        ? streetName + ' ' + houseNumber
        : houseNumber;
      let postalCode =
        e.result.context.find((c) => c.id.includes('postcode'))?.text || '';
      let city =
        e.result.context.find((c) => c.id.includes('place'))?.text || '';
      let region =
        e.result.context.find((c) => c.id.includes('region'))?.text || '';
      let lat = e.result.geometry.coordinates[1];
      let lng = e.result.geometry.coordinates[0];

      document.getElementById('address').value = fullAddress;
      document.getElementById('postal-code').value = postalCode;
      document.getElementById('city').value = city;
      document.getElementById('region').value = region;
      document.getElementById('latitude').value = lat;
      document.getElementById('longitude').value = lng;
    });
  }

  function handleGeolocationError() {
    console.warn(
      'Geolocation not available, using default location (Helsinki).'
    );

    let helsinkiLat = 60.1699;
    let helsinkiLng = 24.9384;

    let geocoder = initializeGeocoder(helsinkiLat, helsinkiLng);
    document.getElementById('geocoder').appendChild(geocoder.onAdd());

    geocoder.on('result', function (e) {
      let address = e.result.place_name || '';
      let postalCode =
        e.result.context.find((c) => c.id.includes('postcode'))?.text || '';
      let city =
        e.result.context.find((c) => c.id.includes('place'))?.text || '';
      let area =
        e.result.context.find((c) => c.id.includes('district'))?.text || '';
      let region =
        e.result.context.find((c) => c.id.includes('region'))?.text || '';
      let lat = e.result.geometry.coordinates[1];
      let lng = e.result.geometry.coordinates[0];

      document.getElementById('address').value = address;
      document.getElementById('postal-code').value = postalCode;
      document.getElementById('city').value = city;
      document.getElementById('area').value = area;
      document.getElementById('region').value = region;
      document.getElementById('latitude').value = lat;
      document.getElementById('longitude').value = lng;
    });
  }

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      handleGeolocationSuccess,
      handleGeolocationError
    );
  } else {
    handleGeolocationError();
  }
</script>
{% endblock %}
