<nav class="navbar navbar-expand-lg new-navver">
  <div class="container-fluid justify-content-center">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-1 text-center">
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('kotisivut')}}"
            >Etusivu</a
          >
        </li>

        <li class="nav-item nav-item-standout mx-3">
          <a class="nav-link" href="{{url_for('donaa')}}">Lahjoita!</a>
        </li>
      </ul>
      <div class="dropdown user-login-ddown">
        <button
          class="btn"
          type="button"
          id="triggerId-usr"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="triggerId-usr"
        >
          {%if not logged_in%}
          <a class="dropdown-item" href="{{url_for('kirjaudu')}}">Kirjaudu</a>
          {%endif%} {%if logged_in%}
          <a class="dropdown-item" href="{{url_for('show_dash')}}"
            >Omat tiedot</a
          >
          <a class="dropdown-item" href="{{url_for('logout')}}"
            >Kirjaudu ulos</a
          >
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</nav>
