{% extends 'boilerplate.html' %} {% block content %}

<div class="container-md col-md-6 text-start mt-5">
  <div class="justify-content-center priv-text-content">
    <h1 class="mt-5 mb-5">Tietosuojaseloste</h1>

    <p class="mb-5">Päivitetty 02.10.2024</p>

    <p>
      Tässä tietosuojaselosteessa kerrotaan miten Ilmaistatavaraa.fi
      ("Ilmaistatavaraa.fi”) käsittelee asiakkaidensa ja verkkopalveluidensa
      käyttäjien henkilötietoja ja miten henkilötietojen käsittelyyn voi
      vaikuttaa.
    </p>

    <p>
      Ilmaistatavaraa.fi:llä on oikeus päivittää tätä tietosuojaselostetta koska
      tahansa tarpeelliseksi katsomallaan tavalla ja tiedottaa tehdyistä
      olennaisista muutoksista rekisteröityjä
    </p>

    <p>REKISTERINPITÄJÄ www.Ilmaistatavaraa.fi</p>

    <p>
      Sähköposti:
      <a href="mailto:asiakaspalvelu@ilmaistatavaraa.fi">
        asiakaspalvelu@ilmaistatavaraa.fi</a
      >
    </p>
    <h2 class="mb-3 mt-3">Kerättävät henkilötiedot ja niiden käsittely</h2>

    <p>
      Ilmaistatavaraa.fi kerää ja käsittelee Ilmaistatavaraa.fi:n
      verkkopalveluiden käyttäjiltä henkilötietoja
    </p>
    <h2 class="mb-3 mt-3">Rekisterin tietosisältö</h2>

    <p>
      Asiakasrekisteriin tallennetaan vähintään ne asiakkaan tiedot, jotka
      asiakas on antanut rekisteröitymisen tai oston yhteydessä. Rekisteriin
      tallennetaan myös käyttäjän itsensä tai Ilmaistatavaraa.fi:n lisäämät tai
      päivittämät tiedot. Rekisterissä voidaan käsitellä seuraavia tietoja:
    </p>
    <ul>
      <li>Etu- ja sukunimi/-nimet, sukupuoli, syntymäaika, asiointikieli</li>

      <li>
        Yhteystiedot: laskutusosoite, toimitusosoite, puhelinnumerot,
        sähköpostiosoitteet
      </li>

      <li>Yrityksen nimi ja Y-tunnus, mikäli asiakkaana toimii yritys</li>

      <li>
        Myyntipalvelun käyttäjiltä kerätään myös tilinumero myyntitulon maksua
        varten.
      </li>

      <li>
        Ostotapahtuman tiedot: tilausnumero, tilausajankohta, tilatut tuotteet
        ja palvelut, toimitustapa, maksutapatieto*
      </li>

      <li>
        Markkinointiin liittyvät tiedot: kuten kohdistetut toimenpiteet ja
        osallistumistiedot kilpailuihin ja tapahtumiin
      </li>

      <li>
        Käytettävästä laitteesta tai sovelluksesta kerättävät tiedot, kuten
        selainversio, laitetyyppi tai ruudun koko
      </li>

      <li>
        Tiedot verkkosivun käytöstä ja ostoskäyttäytymisestä, kuten tiedot
        sivulatauksista, verkkosivujen eri alueille vietetystä ajasta
      </li>

      <li>Mahdolliset muiden kolmansien osapuolten keräämät tiedot</li>
    </ul>
    <p>
      *Ilmaistatavaraa.fi ei koskaan tallenna maksukorttien, pankkitunnusten,
      tai muiden maksuvälineiden henkilökohtaisia tunnuksia tai tietoja.
    </p>
    <h2 class="mb-3 mt-3">Tietolähteet ja tiedonkeruu</h2>
    <p>
      Rekisteröityä koskevia tietoja kerätään pääasiallisesti rekisteröidyltä
      itseltään, Ilmaistatavaraa.fi:n järjestelmistä ja palveluista, joita
      rekisteröity käyttää sekä erilaisten markkinointitoimenpiteiden
      yhteydessä. Tietoja voidaan myös kerätä ja päivittää yhteistyökumppaneiden
      rekistereistä sekä henkilötietoja koskevia palveluja tarjoavilta
      viranomaisilta ja yrityksiltä.
    </p>

    <p>
      Verkkopalvelujen käytöstä kerätään tietoja hyödyntämällä evästeitä, joiden
      käytöstä kerrotaan alla kohdassa
      <a href="{{url_for('cookies')}}">Evästeiden käyttö</a>.
    </p>
    <h2 class="mb-3 mt-3">Tiedon säilytysaika</h2>

    <p>
      Ilmaistatavaraa.fi käsittelee rekisteröityjen henkilötietoja niin pitkään
      kun asiakassuhde jatkuu tai niin pitkään uutiskirjeen tilauksen tai
      palvelun voimassaolon ajan. Tietoja voidaan säilyttää myös lainsäädännön
      nimenomaisesti edellyttämä tai lakisääteisten tai sopimusvelvoitteiden
      toteuttamisesta johtuva pidempi aika perustuen esimerkiksi
      takuuvelvoitteisiin.
    </p>
    <h2 class="mb-3 mt-3">Tietosuojaus</h2>

    <p>
      Asiakasrekisteriä säilytetään järjestelmissä, jotka ovat suojattu
      henkilökohtaisilla salasanoilla. Henkilötietoja suojataan katoamiselta,
      väärinkäytöksiltä, luvattomalta pääsyltä ja luovutukselta.
      Asiakasrekisteriin on pääsy vain niillä Ilmaistatavaraa.fi:n
      työntekijöillä, joiden työtehtävä tätä edellyttää.
    </p>
    <h2 class="mb-3 mt-3">Käyttäjän oikeudet</h2>

    <p>
      Ilmaistatavaraa.fi:n verkkosivun tai myyntipalvelun käyttäjällä on oikeus
      henkilökohtaiseen erityiseen tilanteeseen liittyvällä perusteella koska
      tahansa vastustaa henkilötietojensa käsittelyä. Jos rekisteröity vastustaa
      henkilötietojensa käsittelyä, se johtaa siihen, ettei Ilmaistatavaraa.fi
      välttämättä voi tarjota palveluitaan rekisteröidylle.
    </p>

    <p>
      Tietosuojalainsäädännön mukaan jokaisella Ilmaistatavaraa.fi:n
      verkkopalvelun käyttäjällä on lisäksi koska tahansa oikeus:
    </p>
    <ul>
      <li>
        saada tietoonsa mitkä henkilötiedot hänestä on kerätty rekisteriin -
        vaatia epätarkkojen ja virheellisten henkilötietojensa oikaisemista tai
        täydentämistä
      </li>

      <li>vaatia kerättyjen tietojen poistoa</li>

      <li>
        saada henkilötietonsa sähköisessä muodossa ja oikeus siirtää ne toiselle
        rekisterinpitäjälle lainsäädännön asettamien edellytysten täyttyessä; ja
      </li>

      <li>vaatia henkilötietojensa käsittelyn rajoittamista.</li>
    </ul>
    <p>
      Rekisteröidyn on tehtävä oikeuksiensa toteuttamista koskeva pyyntö yllä
      mainittuun sähköpostiin. Ilmaistatavaraa.fi voi kieltäytyä rekisteröidyn
      pyynnön toteuttamisesta tietosuojalainsäädännön mukaisella perusteella.
    </p>
    <h2 class="mb-3 mt-3">Oikeus tehdä valitus valvontaviranomaiselle</h2>

    <p>
      Käyttäjällä on oikeus tehdä valitus valvontaviranomaiselle, mikäli hän
      jostain syystä katsoo Ilmaistatavaraa.fi:n käsitelleen henkilötietoja
      tietosuojalainsäädännön vastaisesti.
    </p>
    <h2 class="mb-3 mt-3">
      Evästeiden käyttö Ilmaistatavaraa.fi:n verkkosivun
    </h2>

    <p>
      Ilmaistatavaraa.fi:n verkkopalveluissa käytetään evästeitä palveluiden
      kehittämiseen yleisen käyttökokemuksen personoimiseen ja laadun
      parantamiseen. Evästeitä käytetään tämän lisäksi myös markkinoinnin
      kohdentamiseen ja personoimiseen. Ilmaistatavaraa.fi:n sivustoilla
      käytettävät evästeet on jaettu kategorioihin neljään pääkategoriaan
      käyttötarkoituksen mukaan eli, toiminnallisiin, mainonta-, kehitys- ja
      sosiaalisen median evästeisiin.
    </p>

    <p>
      Toiminnalliset evästeet ovat verkkosivun ja palvelun toiminnalle
      välttämättömät. Evästeet mahdollistavat erilaisia toimintoja kuten
      kielivalintojen teon, ostoskorin päivittämisen ja sisäänkirjautumisen.
    </p>

    <p>
      Mainonnan kohdentamiseksi asetettavat evästeet mahdollistavat mainonnan
      kohdentamisen siten, että markkinointikumppaneidemme sivustoilla näkyvä
      mainonta olisi käyttäjälle mahdollisimman kiinnostavaa.
    </p>

    <p>
      Kehitysevästeiden avulla seurataan, miten sivustoja käytetään ja miten
      paljon eri sivuja luetaan tai kuinka pitkän ajan käyttäjä viettää milläkin
      verkkopalvelun sivulla. Näitä tietoja käytetään palvelun ja sivuston
      kehittämiseen.
    </p>

    <p>
      Sosiaalisen median asettamat evästeet voivat mahdollistaa käyttäjän
      sivujen seurannan, jos käyttäjä on samaan aikaan kirjautuneena kyseisen
      sosiaalisen median palveluun.
    </p>
  </div>
</div>

{%endblock%}
