{% extends 'boilerplate.html' %} {% block content %}
<div class="container-md col-md-6 text-start mt-5">
  <div class="justify-content-center priv-text-content">
    <h1 class="mt-5 mb-5">Säännöt ja Käyttöehdot</h1>

    <p class="mb-5">Päivitetty 02.10.2024</p>

    <h2 class="mb-3 mt-3">Yleiset Käyttöehdot</h2>
    <p>
      Nämä käyttöehdot ("Käyttöehdot") koskevat käyttämääsi Ilmaistatavaraa.fi
      Suomi Oy:n palvelua. Nämä Käyttöehdot sekä niihin mahdollisesti liittyvät
      erilliset erityisehdot ("Erityisehdot") muodostavat sitovan sopimuksen
      Ilmaistatavaraa.fi:n kanssa. Ilmaistatavaraa.fi:n emoyhtiönä
      ("Palveluntarjoaja") ja Palvelun käyttäjän ("Käyttäjä") välillä. Tutustu
      huolellisesti näihin Käyttöehtoihin sekä käyttämääsi Palveluun
      mahdollisesti liittyviin Erityisehtoihin, sillä ne sisältävät tärkeää
      tietoa sivustomme ja Palveluidemme käytöstä.
    </p>

    <p>
      Ilmaistatavaraa.fi:llä on oikeus päivittää Säännöt ja Käyttöehdot osiota
      koska tahansa tarpeelliseksi katsomallaan tavalla ja tiedottaa tehdyistä
      olennaisista muutoksista rekisteröityjä
    </p>

    <p>
      Nämä Käyttöehdot sisältävät Palveluihin sovellettavat yleiset ehdot. Näitä
      Käyttöehtoja täydentävät palvelukohtaiset Erityisehdot. Mikäli nämä
      Käyttöehdot ja tiettyä Palvelua koskevat Erityisehdot ovat ristiriidassa,
      sovelletaan kyseiseen Palveluun ensisijaisesti sen Erityisehtoja.
      Käyttöehdot sitovat Käyttäjää niin kauan kuin Käyttäjä käyttää Palvelua.
      Mikäli Käyttäjä ei hyväksy näitä Käyttöehtoja tai haluaa päättää
      Käyttöehtojen muodostaman sopimuksen, Käyttäjän tulee lopettaa
      välittömästi Palvelun käyttö, poistaa Palvelun käyttöä varten
      mahdollisesti lataamansa sovellus laitteestaan sekä olla jakamatta mitään
      sisältöä tai tietoja Palvelussa.
    </p>

    <h2 class="mb-3 mt-3">Palveluntarjoajan oikeudet ja velvollisuudet</h2>

    <p>
      Palvelu on lähtökohtaisesti käytettävissä 24 tuntia vuorokaudessa viikon
      jokaisena päivänä. Palveluntarjoajalla on kuitenkin oikeus ottaa Palvelu
      tai sen osa tilapäisesti pois käytöstä huollon, laitteistoasennuksen,
      yleisen järjestyksen ja turvallisuuden, järjestelmän liiallisen
      kuormituksen tai muun välttämättömän syyn vuoksi. Palveluntarjoaja ei anna
      mitään nimenomaisia tai muitakaan takuita palvelun toiminnasta tai
      toiminnallisuuksista eikä se takaa, että Palvelu toimii käyttökatkoitta
      tai virheettömästi.
    </p>
    <p>
      Palveluntarjoajalla on oikeus parantaa ja kaikin tavoin muuttaa Palvelun
      sisältöä, rakennetta ja ulkoasua, sen tuote- ja tietokantavalikoimaa,
      ohjelmistoja, laitteistoja, käsikirjojen ja muun dokumentoinnin sisältöä,
      palveluaikoja sekä muita Palvelun osia. Palveluntarjoajalla on oikeus
      muuttaa Palvelun maksuttomia osioita maksullisiksi tai lopettaa Palvelun
      ylläpitäminen osittain tai kokonaisuudessaan. Palveluntarjoaja pyrkii,
      silloin kun se on kohtuudella mahdollista, tiedottamaan Palvelussa
      tapahtuvista, Käyttäjän kannalta olennaisista muutoksista sekä katkoksista
      Käyttäjälle etukäteen Palvelun välityksellä tai muulla sopivaksi
      katsomallaan tavalla. Muutokset astuvat voimaan heti, kun ne on
      toteutettu.
    </p>
    <p>
      Palveluntarjoajalla on aina halutessaan oikeus lopettaa Palvelun
      tarjoaminen kokonaan tai osittain tai korvata Palvelu toisenlaisella
      ratkaisulla. Palveluntarjoaja ilmoittaa Palvelun lopettamisesta
      mahdollisuuksien mukaan hyvissä ajoin etukäteen Palvelun välityksellä tai
      muulla sopivaksi katsomallaan tavalla. Palveluntarjoaja pidättää oikeuden
      näiden Käyttöehtojen muodostaman sopimuksen irtisanomiseen ja pääsyn
      estämiseen Palveluun tällaisessa tilanteessa sen jälkeen, kun Käyttäjälle
      on ilmoitettu muutoksista.
    </p>
    <p>
      Palveluntarjoaja voi poistaa Palvelusta aineiston, jonka ilmaisemisen
      Palvelussa Palveluntarjoaja on kieltänyt tai joka Palveluntarjoajan
      näkemyksen mukaan on lain tai hyvän tavan vastaista, sopimatonta,
      virheellistä, haitallista taikka vahingollista Palveluntarjoajalle,
      Käyttäjille tai kolmannelle osapuolelle. Palveluntarjoajalla ei ole
      velvollisuutta ilmoittaa aineiston poistamisesta Käyttäjille etu- eikä
      jälkikäteen.
    </p>
    <p>
      Mikäli Palvelussa on Käyttäjien välistä viestintää joko suoraan
      yksityisviestien ja keskustelufoorumeiden kautta tai epäsuorasti Palveluun
      jätetyn sisällön kautta, Palveluntarjoaja ei vastaa Käyttäjien välisen
      viestinnän tai muun toiminnan toisille käyttäjille tai kolmansille
      osapuolille mahdollisesti aiheuttamista haitoista tai vahingoista.
    </p>
    <h2 class="mb-3 mt-3">Käyttäjän oikeudet ja velvollisuudet</h2>

    <p>
      Käyttäjä saa henkilökohtaisen oikeuden käyttää Palvelua näiden
      Käyttöehtojen, mahdollisten Erityisehtojen ja muiden Palvelua tai sen
      yksittäisiä osia koskevien ehtojen mukaisesti.
    </p>
    <p>
      Käyttäjä sitoutuu kaikessa Palvelun käytössään toimimaan näiden
      Käyttöehtojen, mahdollisten Erityisehtojen ja muiden Palvelun käyttöä
      koskevien sääntöjen ja ohjeiden sekä lain ja hyvän tavan mukaisesti.
      Käyttäjä sitoutuu niin ikään noudattamaan muualla Palvelussa asetettuja
      sääntöjä ja ohjeita.
    </p>
    <p>
      Käyttäjä ymmärtää, että Palveluntarjoaja ei ole velvollinen, mutta sillä
      on kuitenkin oikeus valvoa, miten Käyttäjä käyttää Palvelua, mikäli
      Palveluntarjoaja katsoo tämän tarpeelliseksi.
    </p>
    <p>
      Palvelussa ei saa esittää lain tai hyvän tavan vastaista materiaalia.
      Tällaista on muun muassa materiaali, joka sisältää rasistisia,
      pornografisia, ihmisarvoa tai yksityisyyden suojaa loukkaavia ilmauksia,
      kirjoituksia tai esityksiä. Käyttäjä vastaa siitä, että hänellä on kaikki
      tarvittavat tekijän- ja muut oikeudet ja/tai oikeudenhaltijoiden
      suostumukset Palvelussa julkaisemaansa materiaaliin sekä muuhun
      aineistoon, jonka hän lähettää, välittää tai tallentaa Palveluun ja
      sitoutuu olemaan lähettämättä tai välittämättä (esimerkiksi linkittämällä)
      Palvelun kautta aineistoa tai viestejä, joka rikkoo kolmansien osapuolien
      omistus-, tekijän- ja/tai muita oikeuksia, on loukkaavaa, syrjivää,
      solvaavaa, herjaavaa, rikolliseen toimintaan liittyvää, epäsiveellistä,
      lain tai muutoin hyvän tavan vastaista tai Palveluntarjoajalle, muille
      käyttäjille tai kolmansille osapuolille haitallista tai vahingollista tai
      voi aiheuttaa häiriötä, tukoksia tai muita käyttökatkoksia Palveluun.
      Käyttäjä vastaa kaikista edellä mainitun kaltaisella toiminnalla
      aiheuttamistaan vahingoista. Käyttäjä vastaa kaikista Palvelun käytöstä
      itselleen aiheutuvista välittömistä ja välillisistä kuluista.
    </p>
    <p>
      Mikäli ilmenee, että Käyttäjä rikkoo näitä Käyttöehtoja käyttäessään
      Palvelua, taikka mikäli Palveluntarjoajalla on perusteltu syy olettaa
      tällaisen rikkomuksen tapahtuneen, Palveluntarjoaja pidättää oikeuden
      käyttäjätilin välittömään sulkemiseen sekä käyttäjätilille ja/tai
      Palveluun kirjautumisen väliaikaiseen rajoittamiseen ilman erillistä
      ennakkovaroitusta.
    </p>
    <h2 class="mb-3 mt-3">Vastuunrajoitus</h2>
    <p>
      Palveluntarjoaja tarjoaa Palvelun ja sen sisällön "sellaisena kuin se on"
      ilman mitään takuita, vakuutuksia tai vastuita. Käyttäjä käyttää
      Palveluntarjoajan tuottamia ja/tai välittämiä Palveluja omalla
      vastuullaan. Palveluntarjoaja ei vastaa Palvelun käyttöön liittyvistä
      tietoturvariskeistä tai Palvelun sisällön oikeellisuudesta tai
      sopivuudesta tiettyyn tarkoitukseen muilta osin kuin pakottava
      lainsäädäntö edellyttää.
    </p>
    <p>
      Ellei pakottavasta lain säännöksestä muuta johdu, Palveluntarjoaja ei
      vastaa mistään välittömistä tai välillisistä vahingoista, joita
      Käyttäjälle tai kolmansille osapuolille mahdollisesti aiheutuu Palvelun
      käyttämisestä tai Palvelun keskeytyksistä, viivästyksistä, virheistä tai
      puutteista taikka tiedoista tai ilmoituksista, joita Palvelun kautta on
      saatavilla taikka mistä tahansa muista välittömistä tai välillisistä
      vahingoista, jotka muutoin aiheutuvat Palvelun yhteydessä.
    </p>
    <p>
      Käyttäjä on velvollinen korvaamaan Palveluntarjoajalle sekä kolmansille
      osapuolille aiheutuneen vahingon, joka on seurausta Käyttäjän lain,
      viranomaisten määräysten ja ohjeiden tai näiden Käyttöehtojen taikka
      Erityisehtojen vastaisesta teosta tai laiminlyönnistä.
    </p>
  </div>
</div>
{%endblock%}
