{% extends 'boilerplate.html' %} {% block content %}
<div class="container-md col-md-6 text-start mt-5">
  <div class="justify-content-center priv-text-content text-center">
    <div class="admin-login">
      <h1 class="mb-4">Rekisteröi uusi käyttäjä!</h1>
      <div class="form-complete row justify-content-center">
        <form
          action="/create_new_user"
          method="POST"
          enctype="multipart/form-data"
          class="col-md-6"
        >
          <div class="login-box form-group mb-2">
            <label class="mb-2" for="login-email">Sähköposti</label>
            <input
              class="email form-control"
              type="email"
              name="login-email"
              id="login-email"
            />
          </div>
          <div class="login-box form-group mb-2">
            <label class="mb-2" for="login-pw">Salasana</label>
            <input
              class="password form-control"
              type="password"
              name="login-pw"
              id="login-pw"
            />
          </div>
          <div class="login-box form-group mb-2">
            <label class="mb-2" for="usr-etunimi">Etunimi</label>
            <input
              class="usr-etunimi form-control"
              type="usr-etunimi"
              name="usr-etunimi"
              id="usr-etunimi"
            />
            <label class="mb-2" for="usr-sukunimi">Sukunimi</label>
            <input
              class="usr-sukunimi form-control"
              type="usr-sukunimi"
              name="usr-sukunimi"
              id="usr-sukunimi"
            />
          </div>
          <div class="login-box form-group mb-2">
            <label class="mb-2" for="usr-address">Osoite</label>
            <input
              class="usr-address form-control"
              type="usr-address"
              name="usr-address"
              id="usr-address"
            />
            <label class="mb-2" for="usr-postal-code">Postinumero</label>
            <input
              class="usr-postal-code form-control"
              type="usr-postal-code"
              name="usr-postal-code"
              id="usr-postal-code"
              maxlength="5"
            />
          </div>
          <div class="login-box form-group mb-2">
            <label class="mb-2" for="usr-city">Kaupunki</label>
            <input
              class="usr-city form-control"
              type="usr-city"
              name="usr-city"
              id="usr-city"
            />
            <label class="mb-2" for="usr-region">Maakunta</label>
            <input
              class="usr-region form-control"
              type="usr-region"
              name="usr-region"
              id="usr-region"
            />
          </div>

          <button type="submit" class="btn form-submit-btn mt-5">
            Rekisteröidy
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
